html {
    font-size: 15px;
    margin: 0;
}

body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    line-height: 1.7rem;
    text-align: center;
    background-color: #FFED8F;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    opacity: 0.85;
    background-color: #FFED8F;
    /*background-color: #FFF2F2;*/

}

header ul li {
    display: inline-flex;
    padding: 0 2rem;
}


.main {
    padding-top: 3.5rem;
    width: 100%;
}

.logo {
    width: 40rem;
    height: 40rem;
    padding: 0;
    margin: 0 auto;
}

.nav-main {
    background-color: #FFED8F;
}

nav {
    margin: 0 auto;
    max-width: 74rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: auto;
    padding: 4rem;
}


nav ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    width: 100%;
    text-decoration: none;
}

nav li {
    padding: 0 4rem;
    display: inline-flex;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

a:hover {
    color: #b2967d;
    font-weight: bold;
}

main {
    background-color: #FFED8F;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-image: url("Images/photo-food.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 47rem;
    margin: 3.5rem auto;
}

.quote {
    background: #FFF2F2;
    width: 100%;
    opacity: 0.80;
    padding: 0;
    line-height: 50px;
}

.quote h2 {
    font-size: 2rem;
    margin: 0.8rem;
}

.quote h3 {
    font-size: 1.5rem;
    margin: 0.8rem;
}

.section {
    max-width: 1100px;
    width: 85%;
    margin: 50px auto;
    padding-top: 20px;
    background-color: #FFED8F;
}

.section h2 {
    text-transform: uppercase;
}

.about {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.Ali {
    width: 30rem;
    padding: 1.5rem;

}

.Ali img {
    width: 20rem;
    height: 29rem;
    border: 0.5rem 0.5rem 0.5rem 2.5rem solid white;
}

.food-img {
    width: 270px;
    height: 270px;
    opacity: 0.85;
    border: 8px solid white;

}

.food-img:hover {
    opacity: 1;
    width: 280px;
    height: 280px;

}

.recipes {
    padding: 0 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipes h2 {
    text-transform: uppercase;
    padding-top: 1.2rem;
}

.recipes p {
    margin-bottom: 2.5rem;
}

.food-type {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1.2rem;
}

.food-type div {
    margin: 0 2.5rem;
}

.desserts,
.asian-sweets {
    border-bottom: 0.5px solid #B2967D;
}

.contact {
    padding-top: 2rem;
    margin: 0 auto;
    justify-content: center;
}

form p {
    margin-bottom: 10px;
    margin-top: 20px;
}

input {
    width: 27rem;
    background-color: white;
    height: 2.5rem;
    font-size: 1rem;
    font-family: "Montserrat";
    border-radius: 0.2rem;
    border: none;
    padding-top: 0.8rem;
}

input:hover {
    border: 3px solid #E6BEAE;
}

textarea {
    width: 27rem;
    height: 13.5rem;
    background-color: white;
    font-size: 1rem;
    font-family: "Montserrat";
    border-radius: 0.2rem;
    border: none;
    padding-top: 0.8rem;
}

textarea:hover {
    border: 3px solid #E6BEAE;
}

button {
    width: 27rem;
    height: 2.5rem;
    background-color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.2rem;
}

botton:hover {
    border: 3px solid #B2967D;
    opacity: 0.85;
}

footer {
    background-color: #FFED8F;
    font-size: 0.8rem;
    width: 100%;
    padding-bottom: 1.2rem;

}


@media only screen and (max-width: 580px) {


    main {
        padding-top: 70px;
    }




    .logo {
        width: 35rem;
        height: 35rem;
        padding: 0;
        margin: 0 auto;
    }


}

@media only screen and (min-width: 650px) {


    nav ul {
        display: flex;
        list-style-type: none;
        padding: 5px;
        margin: 0;
        width: 100%;
        justify-content: space-around;
    }


}




@media only screen and (max-width: 1250px) {



    .food-type {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

}


@media only screen and (max-width: 650px) {

    .Ali {
        width: 225px;
    }

    .Ali img {
        width: 18rem;
        height: 27rem;
    }

    .Ali p {
        width: 225px;
    }

    #food-img {
        width: 250px;
        height: 250px;
    }

    input,
    textarea,
    button {
        width: 80%;
    }




}


@media only screen and (max-width: 725px) {

    footer {
        display: flex;

    }

    footer p {
        font-size: 7px;
        margin: 5px;
    }
}